<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary mb-3">Sign Up</h2>
  <div class="mb-3">
    <select class="form-select">
      <option
        *ngFor="let users of usersFromHomeComponent"
        [value]="users.userName"
      >
        {{ users.userName }}
      </option>
    </select>
  </div>
  <div>
    <input
      class="form-control"
      [(ngModel)]="model.name"
      type="text"
      name="user"
      id=""
      placeholder="Name"
    />
  </div>
  <div>
    <input
      class="form-control"
      [(ngModel)]="model.email"
      type="email"
      name="email"
      id=""
      placeholder="Email"
    />
  </div>
  <div class="text-center">
    <button class="btn btn-success mt-3 me-3" type="submit">Submit</button>
    <button class="btn btn-success mt-3" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
