<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary mb-3">Sign Up</h2>
  <div>
    <input
      class="form-control"
      [(ngModel)]="model.userName"
      type="text"
      name="username"
      id=""
      placeholder="Name"
    />
  </div>
  <div>
    <input
      class="form-control"
      [(ngModel)]="model.password"
      type="text"
      name="password"
      id=""
      placeholder="Password"
    />
  </div>
  <div class="text-center">
    <button class="btn btn-success mt-3 me-3" type="submit">Submit</button>
    <button class="btn btn-success mt-3" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
